<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>login</title>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
  <% include partials/header %>
  
	<form class="form" action="/auth/login" method="post" >
		<legend>login</legend>
		<input type="email" placeholder="Email" name="email">
		<input type="password" placeholder="Password" name="password">
		<input type="submit" value="Login" >
	</form>
</body>
</html>